[submodule "src/agent/baselines/mdocagent/upstream/MDocAgent"]
	path = src/agent/baselines/mdocagent/upstream/MDocAgent
	url = https://github.com/aiming-lab/MDocAgent
[submodule "src/agent/baselines/exit/upstream/EXIT"]
	path = src/agent/baselines/exit/upstream/EXIT
	url = https://github.com/ThisIsHwang/EXIT
